@{
    ViewData["Title"] = "Index";
}
@model List<Product>

@if(TempData["status"]!= null)
{
    <div class="alert alert-primary" role="alert">@TempData["status"]</div> 
}
<h1>Ürünler</h1>
<a asp-controller="products" asp-action="Add">Ürün Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Color</th>
            <th>Yayınlansın mı?</th>
            <th>Expire Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>@item.IsPublish</td>
                <td>@item.Expire</td>
                <td>if(@item.Description.Length > 20)
                    @item.Description.Substring(0,20)
                    else
                    @item.Description
                </td>
                <td>
                    @*@if(@item.IsPublish)
                    {
                        <text>Evet</text>
                    }
                    else
                    {
                        <text>Hayır</text>
                    }*@
                    @(item.IsPublish ? "Evet" : "Hayır")
                </td>
                <td>@item.Expire</td>
                <td>
                    <a asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id">Sil</a>
                </td>
                    <td>
                    <a asp-controller="Products" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                    </td>
            </tr>
        }
    </tbody>
</table>

